html{
--heightNav: 70px;
}

/*FUENTES EXTERNAS A AÑADIR*/

@font-face {
    font-family: 'KaushanScript-Regular';
    src: url(fuentes/KaushanScript-Regular.otf) format('opentype');
}

/*NAV DE LA PAGINA*/

body {
    background: black;
    margin: 0px;
}

nav {
    background: #102C38;
    text-align: center;
    height: var(--heightNav);
}

ul {
    color: white;
    list-style: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    height: var(--heightNav);
    font-family: 'KaushanScript-Regular';
}

li {
    float: left;
    padding: 0.4em 1rem 0px 1rem;
    height: 100%;
    outline: 1px solid red;
}
li a {
    font-size: 2rem;
    outline: 1px solid red;
    height: 100%;
    width: 100%;
}

li:hover:not(.active) {
    background: #47C1F5;
}

.active {
    background: #4B7574;
}

/*MAIN de la pagina*/

main {
  outline: 1px solid red;
  max-width: 1920px;
  width: 80%;
  color: white;
  margin: 0px auto 0px;
  background-color: grey;
}

#stepOne article {
  position: relative;
  left: 48px;
}

#desMe {
  width: 45%;
}
#photoIcon {
  height: 100px;
  width: 45%;
}
#photoIcon img {
  max-height: 100%;
  max-width: 100%;
}
